{% extends "aldryn_newsblog/zpravy/fullwidth.html" %}
{% load i18n cms_tags apphooks_config_tags %}

{% block title %}{{ article.title }} - {{ block.super }}{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block newsblog_content %}
    <div class="aldryn-newsblog-detail">
        {% include "aldryn_newsblog/zpravy/includes/article.html" with detail_view="true" %}
    </div>
    {% static_placeholder "newsblog_social" %}
{% endblock %}

{% block newsblog_footer %}
                <div id="finder">
                    <div class="aldryn aldryn-newsblog aldryn-newsblog-article-search js-aldryn-newsblog-article-search">
                        <form action="/cs/skola/zpravy/search/" class="form-inline" method="get">
                            <input name="csrfmiddlewaretoken" value="rud7RR3OsnBOJjgZa1Pgk69PPLB2PzJg" type="hidden">
                            <input name="max_articles" value="10" type="hidden">
                            <div class="input-group">
                                <label for="search-field" class="sr-only">Hledej</label>
                                <input name="q" class="form-control" id="search-field" placeholder="Hledej" type="text">
                                <span class="input-group-btn">
                                    <button id="search-close" type="submit" class="btn btn-default"><i class="fa fa-close fa-1g" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </form>
                        <div class="search-results js-search-results"></div>
                    </div>
                </div>

    <!--
    <div class="aldryn-newsblog-pager">
        <ul class="pager">
            {% if prev_article %}
                <li class="previous"><a href="{{ prev_article.get_absolute_url }}"><span aria-hidden="true">&larr;</span> {% trans "Previous Article" %}</a></li>
            {% else %}
                <li class="previous"><span class="text-muted"><span aria-hidden="true">&larr;</span> {% trans "Previous Article" %}</span></li>
            {% endif %}
            <li><span class="pager-back">– <a href="{% namespace_url "article-list" %}">{% trans "Back to Overview" %}</a> –</span></li>
            {% if next_article %}
                <li class="next"><a href="{{ next_article.get_absolute_url }}">{% trans "Next Article" %} <span aria-hidden="true">&rarr;</span></a></li>
            {% else %}
                <li class="next"><span class="text-muted">{% trans "Next Article" %} <span aria-hidden="true">&rarr;</span></span></li>
            {% endif %}
        </ul>
    </div>
    -->
    {% static_placeholder "newsblog_comments" %}
{% endblock %}
