{% extends "aldryn_newsblog/zpravy/base.html" %}
{% load i18n cms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                {% if view.show_header %}
                    {% static_placeholder "newsblog_feature" %}
                {% endif %}
                <div class="aldryn aldryn-newsblog">
                    {% block newsblog_content %}{% endblock %}
                    {% block newsblog_footer %}{% endblock %}
                </div>
             </div>
            <div class="col-md-2 aldryn-newsblog aldryn-newsblog-sidebar">
                <div id="finder">
                    <div class="aldryn aldryn-newsblog aldryn-newsblog-article-search js-aldryn-newsblog-article-search">
                        <form action="/cs/skola/zpravy/search/" class="form-inline" method="get">
                            <input name="csrfmiddlewaretoken" value="rud7RR3OsnBOJjgZa1Pgk69PPLB2PzJg" type="hidden">
                            <input name="max_articles" value="10" type="hidden">
                            <div class="input-group">
                                <label for="search-field" class="sr-only">Hledej</label>
                                <input name="q" class="form-control" id="search-field" placeholder="Hledej" type="text">
                                <span class="input-group-btn">
                                    <button id="search-close" type="submit" class="btn btn-default"><i class="fa fa-close fa-1g" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </form>
                        <div class="search-results js-search-results"></div>
                    </div>
                </div>
                {% static_placeholder "newsblog_sidebar" %}
                {% block newsblog_sidebar %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock content %}
