{% extends "aldryn_newsblog/zpravy/base.html" %}
{% load i18n cms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Články</h2>
                {% if view.show_header %}
                    {% static_placeholder "newsblog_feature" %}
                {% endif %}
                <div class="aldryn aldryn-newsblog">
                    {% block newsblog_content %}{% endblock %}
                    {% block newsblog_footer %}{% endblock %}
                </div>
             </div>
            <div class="col-md-4 aldryn-newsblog aldryn-newsblog-sidebar">
                {% static_placeholder "newsblog_sidebar" %}
                {% block newsblog_sidebar %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock content %}
