{% extends "aldryn_newsblog/informace/base.html" %}
{% load i18n cms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-16">
                {% if view.show_header %}
                    {% static_placeholder "informace_feature" %}
                {% endif %}
                <div class="aldryn aldryn-newsblog">
                    {% block newsblog_content %}{% endblock %}
                    {% block newsblog_footer %}{% endblock %}
                </div>
            </div>
            <div class="col-md-8 aldryn-newsblog aldryn-newsblog-sidebar">
                {% static_placeholder "informace_sidebar" %}
                {% block newsblog_sidebar %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock content %}
