// #############################################################################
// CUSTOM

/*.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
 

.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-9 {
    width: 60%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-9 {
        width: 60%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-9 {
        width: 60%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-9 {
        width: 60%;
        float: left;
    }
}

.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-6 {
    width: 40%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-6 {
        width: 40%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-6 {
        width: 40%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-6 {
        width: 40%;
        float: left;
    }
}
*/

.menu-obory {
    background-color: #e3e3e3;
    .obor-icon {
        display: block;
        color: #333;
        font-weight: 600;
        margin-top: $line-height-computed * 0.7;
        text-transform: uppercase;
        text-align: center;
        font-size: 70%;
        @media (max-width: $screen-md-max) {
            min-height: $line-height-computed * 2; 
            font-size: 75%;
        }
        @media (max-width: $screen-sm-max) {
            min-height: $line-height-computed * 2; 
            font-size: 65%;
        }
        @media (max-width: $screen-xs-max) {
            min-height: $line-height-computed * 1.2; 
            font-size: 80%;
        }
    } 


    div {
        display: inline-block;
/*        width: 20%;
        font-size: 0;
        line-height: 0;*/
        min-height: $line-height-computed * 2; 
        background-color: #e3e3e3;
        background-image: url("../img/obory-arrow.png");
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 20px 20px;
        &.search {            
            padding: 10px 5px;
            background-image: none;
            /*background-color: white;*/
            color: #333;
            p {
                margin-bottom: 0;
                input {
                    &.form-control {
                        width: 80%;
                        height: 30px;
                        font-size: 14px;
                        line-height: 1.2;
                        border: 2px solid #ccc;
                    }
                }
                a {
                    color: #333;
                }
            }
        }
        @media (max-width: $screen-xs-max) {
            width: 100%;
        }
    }
}

.menu-obory-down {
    height: 20px; 
    text-align: center;
    color: white;
}

.menu-obory {
    .strojirenstvi:hover {
        background-color: #003052;
        a {
            color: white;
        }
    } 
    .informatika:hover {
        background-color: #45c9e1;
        a {
            color: white;
        }
    } 
    .hracka:hover {
        background-color: #f1a0a1;
        a {
            color: white;
        }
    } 
    .design:hover {
        background-color: #b7d868;
        a {
            color: white;
        }
    } 
    .grafika:hover {
        background-color: #c6379c;
        a {
            color: white;
        }
    } 
}

.info.strojirenstvi {
        background-color: #003052;
        color: white; 
        padding: 10px; 
}

.info.informatika {
        background-color: #45c9e1;
        color: white;  
        padding: 10px; 
}

// this file is the starting point for custom style and structure
// feel free to organise your code here as you wish
// keep in mind that you can use deeper folder nesting for more structure and refinement

// HELPERS/spacer
.spacer {
    margin-top: $line-height-computed;
    margin-bottom: $line-height-computed;
}
.spacer-xs {
    margin-top: $line-height-computed / 2;
    margin-bottom: $line-height-computed / 2;
}
.spacer-sm {
    margin-top: $line-height-computed / 1.5;
    margin-bottom: $line-height-computed / 1.5;
}
.spacer-md {
    @extend .spacer;
}
.spacer-lg {
    margin-top: $line-height-computed * 2;
    margin-bottom: $line-height-computed * 2;
}
.spacer-zero {
    margin: 0;
}
.spacer:after,
.spacer-xs:after,
.spacer-sm:after,
.spacer-md:after,
.spacer-lg:after,
.spacer-zero:after {
    content: "";
    display: table;
    clear: both;
}

// HELPERS/accessibility
.skip-links {
    @extend .list-unstyled;
    position: absolute;
    top: $navbar-height;
    right: 0;
    left: 0;
    z-index: 9999;
    a {
        @extend .sr-only;
        @extend .sr-only-focusable;
    }
}

// HELPERS/colors
@include bg-variant(".brand-primary", $brand-primary);
@include bg-variant(".brand-secondary", $brand-secondary);
@include bg-variant(".brand-success", $brand-success);
@include bg-variant(".brand-info", $brand-info);
@include bg-variant(".brand-warning", $brand-warning);
@include bg-variant(".brand-danger", $brand-danger);
@include bg-variant(".brand-muted", $text-muted);

@include bg-variant(".brand-gray-darker", $gray-darker);
@include bg-variant(".brand-gray-dark", $gray-dark);
@include bg-variant(".brand-gray", $gray);
@include bg-variant(".brand-gray-light", $gray-light);
@include bg-variant(".brand-gray-lighter", $gray-lighter);

// HELPERS/styleguide
.styleguide {
    padding: $line-height-computed 0;
}
.col-linebreak {
    border-left: 1px dotted $gray-light;
}

// #############################################################################
// TYPOGRAPHY
body,
.lead {
    font-weight: 100;
}

h3,
h4,
h5,
h6 {
    color: $text-color;
    font-weight: 600;
}



a {
    transition: color $speed-base;
}

dl.dl-horizontal {
    dt {
        text-align: left;
    }
}

// #############################################################################
// BOOTSTRAP ADAPTIONS
.navbar-form {
    padding-top: 3px;
}
.breadcrumb,
.navbar-breadcrumb {
    min-height: 0;
    margin-bottom: 0;
}
.breadcrumb {
    margin-bottom: $line-height-computed / 2;
}
.breadcrumb > li + li:before {
    @extend .fa;
    content: "\f061" !important; // required to overwrite bootstrap default
}

.dropdown-menu,
.alert {
    font-size: $font-size-small;
    line-height: 1.4;
}
.badge {
    font-size: $font-size-small - 2;
}
.pager a {
    color: #fff;
}

.submenu-row {
    margin-bottom: $line-height-computed;
/*    background: $gray-lighter;*/
}

.submenu-block {
    text-align: left;
}

.submenu {
/*    display: block;
    padding: 5px;
    text-decoration: none;
    height: $line-height-computed*2.5;
    @media (max-width: $screen-xs-max) {    
        height: $line-height-computed*1.5;
    }    
    &:hover, &:active, &:focus {
        border-left: 2px solid $link-color;
        background: $gray-lighter;
        text-decoration: none;
    }*/    
}

.accordion {
    .panel-group {
        margin-left: 0;
        margin-right: 0;
    }
    .panel-heading {
        border: none;
        h4 a {
            padding-left: 0;
            &::before {
                 content: none;
            }
        }
        .panel-title {
            border: none;
            a {
                background-color: #555;
                margin: 0px -10px 0px -10px;
                text-transform: uppercase;
                color: white;
                text-align: center;
                padding: 10px;
                font-size: 20px;
                font-weight: 400;
/*                font-size: $font-size-h3;
                color: $gray-darker;
                text-decoration: none;
                border-bottom: 1px solid $gray-darker;*/
                background-image: url("../img/obory-arrow.png");
                background-repeat: no-repeat;
                background-position: bottom right;
                background-size: 20px 20px;                        
            }   
            a.collapsed {
                background-color: #555;
                margin: 0px -10px 0px -10px;
                text-transform: uppercase;
                color: white;
                text-align: center;
                padding: 10px;
                font-size: 20px;
                font-weight: 400;
                background-image: url("../img/obory-arrow.png");
                background-repeat: no-repeat;
                background-position: bottom right;
                background-size: 20px 20px;        

/*                background-color: white;
                text-decoration: none;
                color: $gray-darker; 
                border-bottom: 1px solid $gray-darker;*/
                &:hover, &:active, &:focus {
                   /* background-color: $gray-lighter; */
                    text-decoration: none;
                    color: $brand-primary; 
                }
            }               
        }
    }

    .panel-body {
        padding-left: 0;
        padding-right: 0;
    }
}

.navbar {
    background-color: white;
    height: 60px;
}

.navbar-brand {
    a {
        color: #666;
        font-size: 80%;
    }
}

.navbar-nav > li {
    a {
        color: #666;
        font-size: 90%;        
    }
    a:hover {
        background-color: lighten($gray-light, 5%);;
    }
/*    &:nth-child(2) > a {
        background: darken($gray-light, 5%);
    }
    &:nth-child(3) > a {
        background: darken($gray-light, 10%);
    }
    &:nth-child(4) > a {
        background: darken($gray-light, 15%);
    }*/

}

.navbar-head .navbar-nav a {
    padding-left: 15px;
    padding-right: 15px;
}


.navbar-right {
    margin-right: -20px;
}

.navbar-head-narrow {
    min-height: 50px;
    background: white;
}

.person-photo {
    max-width: 150px;
}

.feature {
    background-color: $gray-lighter;
    overflow: hidden;
    margin-top: 0px;
    /*margin-bottom: $line-height-computed;*/
    z-index: 1;
    @media (max-width: $screen-xs-max) {
        max-height: 200px;
    }
}

.footer {
    color: none;
    background: none;
    .footer-copyright {
        font-size: 14px;
        background: none;
        .container {
           background-color: #777; 
        }
    }
    h5 {
        font-size: 90%;
        padding-bottom: 10px;
        border-bottom: 1px dotted $gray;
        color: #aaa;
    }
    a {
        color: #d0d543;   
    }
}

.neprehlednete-label, .aktuality-label {
    font-size: $font-size-h4;
    margin-bottom: $line-height-computed;
    margin-top: $line-height-computed;
}

.decorate-row {
    background-image: url("../img/horni-lista.png");
    background-repeat: no-repeat;
    background-position: right top;
    min-height: 20px;
}

.ucitel-foto {
    width: 50%;
}

.vizitka {
    &.ucitele {
        font-size: 90%;
        .ucitel-jmeno {
            color: $link-color;
            background-color: white;
            padding: 10px;
        }
        .ucitel-detail {
            position: absolute;
            z-index: 10;
            border: 1px solid $gray;
            padding: 10px;
            background-color: $gray-lighter;
        }
    }
}


@media (max-width: $screen-md-max) {
    .navbar {
        font-size: 12px;        
    }
    #navigation {
        margin-top: 30px;
    }
    .navbar-brand {
        font-size: 14px;
    }

    .menu-obory-down {
        display: none;
    }
}

// mobile only
@media (max-width: $screen-xs-max) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    h4 {
        font-size: 18px;
    }

    .navbar-brand {
        font-size: 12px;
    }

    .navbar-header img {
        margin-top: 10px;
        max-height: 80px;
    }

    .navbar-head #navigation {
        margin-top: 0px;
    }

    .navbar .nav {
       margin-bottom: 0px;
       margin-left: 0px;
       margin-right: 0px;
    }
    .navbar-right {
       margin-right: 0px;
    }
    .frontpage-sidebar {
        display: hide;
    }
}

.frontpage-info-row {
    background-color: #e3e3e3;
}

.frontpage-sidebar {
    background-color: white;
}

.frontpage-info {
    background-color: #e3e3e3;
    h2 {
        background-color: #555;
        margin: 0px -10px 20px -10px;
        text-transform: uppercase;
        color: white;
        text-align: center;
        padding: 10px;
        font-size: 20px;
        font-weight: 400;
    }
    .aldryn-newsblog-article {
        padding-bottom: 0;
        font-weight: 400;
        h3 {
            padding-left: 40px;
            font-size: 18px;  
            min-height: 20px;
            text-transform: uppercase;
            background-image: url("../img/aktuality-logo-sede.png");
            background-repeat: no-repeat;
            background-position: left top;
            background-size: 32px 18px;
            a {
                color: #e31e24;
                font-weight: 300;
            }          
        }       
        p {
            font-size: 15px;
            padding-left: 40px;
        }
    }
    .aldryn-newsblog-meta {
        padding-bottom: 0;
    }
}

.frontpage-aktuality {
    background-color: #e3e3e3;
    h2 {
        background-color: #555;
        margin: 0px -10px 20px -10px;
        text-transform: uppercase;
        color: white;
        text-align: center;
        padding: 10px;
        font-size: 20px;
        background-image: url("../img/obory-arrow.png");
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 20px 20px;        
    }
    .aldryn-newsblog-article {
        padding-bottom: 0;
        h3 {
            padding-left: 40px;
            font-size: 18px;  
            min-height: 20px;
            /*text-transform: uppercase;*/
            background-image: url("../img/aktuality-logo.png");
            background-repeat: no-repeat;
            background-position: left top;
            background-size: 32px 18px;
            a {
                color: #ae4a84;
                font-weight: 300;
            }          
        }       
        p {
            font-size: 15px;
            padding-left: 40px;
        }
    }
    .aldryn-newsblog-meta {
        padding-bottom: 0;
    }
}

.frontpage-actual {
    h2 {
        /*background-color: darken(#45c9e1,20%);
        color: white;*/
        color: $gray-darker;
        text-align: left;
        border-bottom: 1px solid $gray-darker;
        padding-bottom: 10px;
        font-size: 30px;
    }
    .aldryn-newsblog-article {
        padding-bottom: 0;
        h2 {
            color: darken(#45c9e1,20%);
            background-color: white;
            border-bottom: none;
            a {
/*                color: #c6379c;*/
                font-size: 18px;  
            }          
        }       
        h3 {
            background-color: white;
            a {
/*                color: #c6379c;*/
                font-size: 18px;  
            }          
        }       
        p {
            font-size: 16px;
        }
    }
}

.aldryn-newsblog-meta {
    padding-bottom: 0;
    border-bottom: none;
}

.publishing-date {
    font-size: 80%;
    padding-bottom: 10px;
    color: $gray-dark;
}

.aldryn-newsblog-article h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.aldryn-newsblog-article .lead {
    color: $gray-darker;
}

.aldryn-newsblog-article .category a {
    color: #b7d868;
    font-size: 75%;
}

.container {
    &.feature {
        padding-left: 0;
        padding-right: 0;
        .row {
            div {
                padding-left: 0;
                padding-right: 0;            
            }
        }
    }
}

.carousel {
    &.col-sm-12 {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }
}

.feature {
        background-color: #000;
}