// #############################################################################
// CUSTOM

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
 

.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-9 {
    width: 60%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-9 {
        width: 60%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-9 {
        width: 60%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-9 {
        width: 60%;
        float: left;
    }
}

.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-6 {
    width: 40%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-6 {
        width: 40%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-6 {
        width: 40%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-6 {
        width: 40%;
        float: left;
    }
}


.menu-obory {
    min-height: 30px; 
    .obor-icon {
        display: block;
        min-height: $line-height-computed * 2; 
        color: white;
        font-weight: bold;        
        vertical-align: middle;
        text-transform: uppercase;
        text-align: center;
        font-size: 90%;
        @media (max-width: $screen-md-max) {
            min-height: $line-height-computed * 2; 
            font-size: 75%;
        }
        @media (max-width: $screen-sm-max) {
            min-height: $line-height-computed * 2; 
            font-size: 65%;
        }
        @media (max-width: $screen-xs-max) {
            min-height: $line-height-computed * 1.2; 
            font-size: 80%;
        }
    } 


    div {
        display: inline-block;
        width: 20%;
/*        font-size: 0;
        line-height: 0;*/
        background-size: 100%;
        background-position: left bottom;
        background-repeat: no-repeat;
        @media (max-width: $screen-xs-max) {
            width: 100%;
        }
    }
}

.menu-obory-down {
    height: 20px; 
    text-align: center;
    color: white;
}

.menu-obory, .menu-obory-down {
    .strojirenstvi {
        background-color: #003052;
        /* background-image: url(../img/logo-strojirenstvi.png); */
    } 
    .informatika {
        background-color: #45c9e1;
        /* background-image: url(../img/logo-informatika.png); */
    } 
    .design {
        background-color: #f1a0a1;
        /* background-image: url(../img/logo-design.png); */
    } 
    .grafika {
        background-color: #b7d868;
        /* background-image: url(../img/logo-grafika.png); */
    } 
    .hracka {
        background-color: #c6379c;
        /* background-image: url(../img/logo-hracka.png); */
    } 
}

.info.strojirenstvi {
        background-color: #003052;
        color: white; 
        padding: 10px; 
}

.info.informatika {
        background-color: #45c9e1;
        color: white;  
        padding: 10px; 
}

// this file is the starting point for custom style and structure
// feel free to organise your code here as you wish
// keep in mind that you can use deeper folder nesting for more structure and refinement

// HELPERS/spacer
.spacer {
    margin-top: $line-height-computed;
    margin-bottom: $line-height-computed;
}
.spacer-xs {
    margin-top: $line-height-computed / 2;
    margin-bottom: $line-height-computed / 2;
}
.spacer-sm {
    margin-top: $line-height-computed / 1.5;
    margin-bottom: $line-height-computed / 1.5;
}
.spacer-md {
    @extend .spacer;
}
.spacer-lg {
    margin-top: $line-height-computed * 2;
    margin-bottom: $line-height-computed * 2;
}
.spacer-zero {
    margin: 0;
}
.spacer:after,
.spacer-xs:after,
.spacer-sm:after,
.spacer-md:after,
.spacer-lg:after,
.spacer-zero:after {
    content: "";
    display: table;
    clear: both;
}

// HELPERS/accessibility
.skip-links {
    @extend .list-unstyled;
    position: absolute;
    top: $navbar-height;
    right: 0;
    left: 0;
    z-index: 9999;
    a {
        @extend .sr-only;
        @extend .sr-only-focusable;
    }
}

// HELPERS/colors
@include bg-variant(".brand-primary", $brand-primary);
@include bg-variant(".brand-secondary", $brand-secondary);
@include bg-variant(".brand-success", $brand-success);
@include bg-variant(".brand-info", $brand-info);
@include bg-variant(".brand-warning", $brand-warning);
@include bg-variant(".brand-danger", $brand-danger);
@include bg-variant(".brand-muted", $text-muted);

@include bg-variant(".brand-gray-darker", $gray-darker);
@include bg-variant(".brand-gray-dark", $gray-dark);
@include bg-variant(".brand-gray", $gray);
@include bg-variant(".brand-gray-light", $gray-light);
@include bg-variant(".brand-gray-lighter", $gray-lighter);

// HELPERS/styleguide
.styleguide {
    padding: $line-height-computed 0;
}
.col-linebreak {
    border-left: 1px dotted $gray-light;
}

// #############################################################################
// TYPOGRAPHY
body,
.lead {
    font-weight: 100;
}

h3,
h4,
h5,
h6 {
    color: $text-color;
    font-weight: 600;
}



a {
    transition: color $speed-base;
}

dl.dl-horizontal {
    dt {
        text-align: left;
    }
}

// #############################################################################
// BOOTSTRAP ADAPTIONS
.navbar-form {
    padding-top: 3px;
}
.breadcrumb,
.navbar-breadcrumb {
    min-height: 0;
    margin-bottom: 0;
}
.breadcrumb {
    margin-bottom: $line-height-computed / 2;
}
.breadcrumb > li + li:before {
    @extend .fa;
    content: "\f061" !important; // required to overwrite bootstrap default
}

.dropdown-menu,
.alert {
    font-size: $font-size-small;
    line-height: 1.4;
}
.badge {
    font-size: $font-size-small - 2;
}
.pager a {
    color: #fff;
}

.submenu-row {
    margin-bottom: $line-height-computed;
/*    background: $gray-lighter;*/
}

.submenu-block {
    text-align: left;
}

.submenu {
/*    display: block;
    padding: 5px;
    text-decoration: none;
    height: $line-height-computed*2.5;
    @media (max-width: $screen-xs-max) {    
        height: $line-height-computed*1.5;
    }    
    &:hover, &:active, &:focus {
        border-left: 2px solid $link-color;
        background: $gray-lighter;
        text-decoration: none;
    }*/    
}

.accordion {
    .panel-group {
        margin-left: 0;
        margin-right: 0;
    }
    .panel-heading {
        border: none;
        h4 a {
            padding-left: 0;
        }
        .panel-title {
            border: none;
            a {
                font-size: $font-size-h3;
                color: $gray-darker;
                text-decoration: none;
                border-bottom: 1px solid $gray-darker;
            }   
            a.collapsed {
                background-color: white;
                text-decoration: none;
                color: $gray-darker; 
                border-bottom: 1px solid $gray-darker;
                &:hover, &:active, &:focus {
                   /* background-color: $gray-lighter; */
                    text-decoration: none;
                    color: $brand-primary; 
                }
            }               
        }
    }
    .panel-body {
        padding-left: 0;
        padding-right: 0;
    }
}

.navbar {
    background-color: white;
    height: 60px;
}

.navbar-brand {
    a {
        color: #666;
        font-size: 80%;
    }
}

.navbar-nav > li {
    a {
        color: #666;
        font-size: 90%;        
    }
    a:hover {
        background-color: lighten($gray-light, 5%);;
    }
    &:nth-child(2) > a {
        background: darken($gray-light, 5%);
    }
    &:nth-child(3) > a {
        background: darken($gray-light, 10%);
    }
    &:nth-child(4) > a {
        background: darken($gray-light, 15%);
    }

}

.navbar-head .navbar-nav a {
    padding-left: 15px;
    padding-right: 15px;
}


.navbar-right {
    margin-right: -20px;
}

.navbar-head-narrow {
    min-height: 50px;
    background: white;
}

.person-photo {
    max-width: 150px;
}

.feature {
    background-color: $gray-lighter;
    overflow: hidden;
    margin-top: 60px;
    /*margin-bottom: $line-height-computed;*/
    z-index: 1;
    @media (max-width: $screen-xs-max) {
        max-height: 200px;
    }
}

.footer {
    color: $text-color;
    .footer-copyright {
        font-size: 14px;
        background: $gray-lighter;
    }
    h5 {
        font-size: 90%;
        padding-bottom: 10px;
        border-bottom: 1px dotted $gray;
        color: $brand-primary;
    }
}

.neprehlednete-label, .aktuality-label {
    font-size: $font-size-h4;
    margin-bottom: $line-height-computed;
    margin-top: $line-height-computed;
}

.decorate-row {
    background-image: url("../img/horni-lista.png");
    background-repeat: no-repeat;
    background-position: right top;
    min-height: 20px;
}

.ucitel-foto {
    width: 50%;
}

.vizitka {
    &.ucitele {
        font-size: 90%;
        .ucitel-jmeno {
            color: $link-color;
            background-color: white;
            padding: 10px;
        }
        .ucitel-detail {
            position: absolute;
            z-index: 10;
            border: 1px solid $gray;
            padding: 10px;
            background-color: $gray-lighter;
        }
    }
}


@media (max-width: $screen-md-max) {
    .navbar {
        font-size: 12px;        
    }
    #navigation {
        margin-top: 30px;
    }
    .navbar-brand {
        font-size: 14px;
    }

    .navbar .nav {
        margin-bottom: 20px;
    }

    .menu-obory-down {
        display: none;
    }
}

// mobile only
@media (max-width: $screen-xs-max) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    h4 {
        font-size: 18px;
    }

    .navbar-brand {
        font-size: 12px;
    }

    .navbar-header img {
        margin-top: 10px;
        max-height: 80px;
    }

    .navbar-head #navigation {
        margin-top: 0px;
    }

    .navbar .nav {
       margin-bottom: 0px;
       margin-left: 0px;
       margin-right: 0px;
    }
    .navbar-right {
       margin-right: 0px;
    }
}

.frontpage-info {
    h2 {
        /*background-color: darken(#c6379c,20%);*/
        color: $gray-darker;
        text-align: left;
        border-bottom: 1px solid $gray-darker;
        padding-bottom: 10px;
        font-size: 30px;
    }
    .aldryn-newsblog-article {
        padding-bottom: 0;
        h3 {
            font-size: 18px;  
            a {
                color: #c6379c;
            }          
        }       
        p {
            font-size: 16px;
        }
    }
    .aldryn-newsblog-meta {
        padding-bottom: 0;
    }
}


.frontpage-actual {
    h2 {
        /*background-color: darken(#45c9e1,20%);
        color: white;*/
        color: $gray-darker;
        text-align: left;
        border-bottom: 1px solid $gray-darker;
        padding-bottom: 10px;
        font-size: 30px;
    }
    .aldryn-newsblog-article {
        padding-bottom: 0;
        h2 {
            color: darken(#45c9e1,20%);
            background-color: white;
            border-bottom: none;
            a {
/*                color: #c6379c;*/
                font-size: 18px;  
            }          
        }       
        h3 {
            background-color: white;
            a {
/*                color: #c6379c;*/
                font-size: 18px;  
            }          
        }       
        p {
            font-size: 16px;
        }
    }
}

.aldryn-newsblog-meta {
    padding-bottom: 0;
    border-bottom: none;
}

.publishing-date {
    font-size: 80%;
    padding-bottom: 10px;
    color: $gray-dark;
}

.aldryn-newsblog-article h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.aldryn-newsblog-article .lead {
    color: $gray-darker;
}

.aldryn-newsblog-article .category a {
    color: #b7d868;
    font-size: 75%;
}