<!doctype html>{% load i18n staticfiles cms_tags sekizai_tags %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {% block title %}
            {% page_attribute page_title %} - {{ request.site.name }}
        {% endblock title %}
    </title>
    {% block meta_tags %}
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="{% spaceless %}
            {% block meta_description %}
                {% page_attribute meta_description %}
            {% endblock %}
        {% endspaceless %}">
    {% endblock meta_tags %}
    <link rel="apple-touch-icon" href="{% static 'favicon.png' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <!-- <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">-->
    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Hind+Guntur:300,400,500,600,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="{% static 'js/jquery.bxslider/jquery.bxslider.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if IE]><link rel="shortcut icon" href="{% static 'favicon.ico' %}"><![endif]-->
    <!--[if lt IE 9]>
    <script src="{% static 'js/libs/html5shiv.min.js' %}"></script>
    <script src="{% static 'js/libs/respond.min.js' %}"></script>
    <![endif]-->
    <link href="{% static 'css/styly.css' %}" rel="stylesheet">
    {% render_block "css" %}
    {% block extrahead %}{% endblock %}
</head>

<body id="page-top" class="noscript lang-{{ LANGUAGE_CODE }}">
{% include "includes/analytics.html" %}
{% cms_toolbar %}

{% block extend_root %}{% endblock %}

{# prevent blocking css for page speed reasons #}
<noscript id="deferred-styles">
  <!--  <link rel="stylesheet" href="{% static 'css/base.css' %}"> -->
</noscript>
<script>
    var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById('deferred-styles');
        var replacement = document.createElement('div');
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
              webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
    else window.addEventListener('load', loadDeferredStyles);
</script>

<script src="{% static 'js/libs/jquery.min.js' %}"></script>
<script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
<script src="{% static 'js/libs/class.min.js' %}"></script>
<script src="{% static 'js/libs/outdatedBrowser.min.js' %}"></script>
<script src="{% static 'js/addons/cl.utils.js' %}"></script>
<script src="{% static 'js/addons/cl.newsblog.js' %}"></script>
<script src="{% static 'js/addons/cl.explorer.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
{% render_block "js" %}
{% block extrafoot %}{% endblock %}
<div class="browser-outdated" id="outdated" hidden="hidden">
    <noscript><h3>{% trans "Please enable JavaScript" %}</h3></noscript>
    <h3>{% trans "Your browser is out-of-date!" %}</h3>
    <p>{% trans "Update your browser to view this website correctly." %}</p>
    <p>
        <a href="http://outdatedbrowser.com/" class="btn btn-lg btn-outline" id="btnUpdateBrowser">
            {% trans "Update my browser now" %}
        </a>
    </p>
    <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Close">&times;</a></p>
</div>
</body>
</html>
