{% extends "base_root.html" %}
{% load i18n staticfiles cms_tags menu_tags sekizai_tags %}

{% block body_class %}tpl-base{% endblock %}

{% block extend_root %}
{% block header %}
{# INFO: navbar concept: http://getbootstrap.com/components/#navbar #}
<header class="container navbar navbar-head js-navbar-head">
        <!-- <div class="row decorate-row">
            <div class="col-sm-24"></div>
        </div> -->
        {# INFO: the logo should be placed first for seo reasons #}
        <div class="row navbar-row">
            <div class="navbar-header col-sm-12">
                <div class="col-sm-24">
                    <a href="/">
                          <img src="{% static "img/logo-skola.png" %}" alt="{{ request.site.name }}" class="img-responsive" />
                    </a>
                    <button type="button" class="navbar-toggle navbar-inverse collapsed" data-toggle="collapse" data-target=".js-navbar-header">
                        {% for row in 123|make_list %}<span class="icon-bar"></span>{% endfor %}
                    </button>
                </div>
            </div>
            <div class="col-sm-12 navigace">
                <div class="navbar-collapse collapse js-navbar-header">
                    {% block navbar %}
                    <nav class="nav navbar-main navbar-right" id="navigation">
                        {% render_model_block request.current_page "changelist" %}
                        {% with dropdown="true" %}
                        <ul class="nav navbar-nav">
                            {% show_menu 0 1 2 1 "includes/menu/navigation.html" %}
                            <li class="divider" role="presentation"><span class="sr-only">{% trans "Separator" %}</span></li>
                            {% show_menu_below_id "meta" 0 0 0 0 "includes/menu/navigation.html" %}
                           {#  {% language_chooser "includes/menu/langnav.html" "native" %} #}
                        </ul>
                        {% endwith %}
                        {% endrender_model_block %}
                    </nav>
                    {% endblock navbar %}
                </div>
            </div>
        </div>
</header>
{% endblock header %}
<hr class="sr-only" />
<!-- start: content -->
<div class="container feature">
    {% block feature %}
        {% placeholder "feature" or %}
            <div class="feature-visual">
                <img src="{% static 'img/visuals/skola-default.jpg' %}" alt="">
            </div>
        {% endplaceholder %}
    {% endblock feature %}
</div>
<div class="container submenu-obory">
    <div class="row menu-obory text-right">
        <div class="col-sm-4 menu-obor strojirenstvi"><a href="/strojirenstvi" class="obor-icon">Strojírenství</a></div>
        <div class="col-sm-4 menu-obor informatika"><a href="studium/informacni-technologie" class="obor-icon">Informační technologie</a></div>
        <div class="col-sm-4 menu-obor hracka"><a href="/hracka" class="obor-icon">Design hraček</a></div>
        <div class="col-sm-4 menu-obor design"><a href="/design" class="obor-icon">Průmyslový design</a></div>
        <div class="col-sm-4 menu-obor grafika"><a href="/grafika" class="obor-icon">Grafický design</a></div>
        <div class="col-sm-4 search">
            <div class="aldryn aldryn-newsblog aldryn-newsblog-article-search js-aldryn-newsblog-article-search main-search"><form action="/cs/skola/zpravy/search/" class="form-inline" method="get"><input name="csrfmiddlewaretoken" value="yOMgoi9HPyqxxqduodJKr1Y1jpPRrMaa" type="hidden"><input name="max_articles" value="10" type="hidden"><div class="input-group"><label for="field-11046-keyword" class="sr-only">Hledej</label><input name="q" class="form-control" id="field-11046-keyword" placeholder="Hledej" type="text"><span class="input-group-btn"><button type="submit" class="btn btn-primary"></button></span></div></form>
                  <div class="search-results js-search-results"></div>
            </div>
            <!-- HLEDEJ <i class="fa fa-search" aria-hidden="true"></i>
           <p class="input-group"><input type="text" class="form-control"><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></p> -->
        </div>
    </div>
    <div class="row text-left search-results-visible"></div>
</div>
    <!--
<ul>
    {% show_sub_menu 2 None 2 %}
</ul>
-->

{% block messages %}
{% if messages %}
<!-- start: messages -->
<div class="container">
    {% include "includes/messages.html" %}
</div>
<!-- end: messages -->
{% endif %}
{% endblock messages %}

{% block extend_base %}
    {% block content %}{% endblock %}
{% endblock extend_base %}
<hr class="sr-only" />
<!-- end: content -->

{% block footer %}
<!-- start: footer -->
<footer class="footer">
    <h2 class="sr-only" id="footer">{% trans "Sitemap" %}</h2>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="footer-logo">Střední škola průmyslová a umělecká Opava, příspěvková organizace</p>
                </div>
            </div>
            {% render_model_block request.current_page "changelist" %}
            <ul class="list-inline">
                <li class="pull-right"><a href="#page-top" data-spy="scroll">{% trans "Back to top" %} <span class="fa fa-right fa-arrow-up"></span></a></li>
                {% show_menu_below_id "footer" 0 0 100 100 "includes/menu/navigation.html" %}
            </ul>
            {% endrender_model_block %}
            {% static_placeholder "footer" %}
        </div>
    </div>

    <div class="footer-theme">
            {% static_placeholder "footer-theme" %}
    </div>
</footer>
<!-- end: footer -->
{% endblock footer %}

{% addtoblock "js" %}<script src="{% static 'js/addons/cl.explorer.js' %}"></script>{% endaddtoblock %}
{% endblock extend_root %}
