{% extends "base_root.html" %}
{% load i18n staticfiles cms_tags menu_tags sekizai_tags %}

{% block body_class %}tpl-base{% endblock %}

{% block extend_root %}
{% block header %}
{# INFO: navbar concept: http://getbootstrap.com/components/#navbar #}
<header class="container navbar navbar-head js-navbar-head">
        {# INFO: the logo should be placed first for seo reasons #}
        <div class="row">
            <div class="navbar-header col-sm-12">
                {# INFO: the logo should be placed first for seo reasons #}
                <!--<div class="col-sm-8 col-xs-6">
                        <a href="/">
                            <img src="{% static "img/logo-skola.png" %}" alt="{{ request.site.name }}" class="img-responsive" />
                        </a>
                </div>-->
                <div class="col-sm-24 col-xs-24">
                    <a href="/">
                          <img src="{% static "img/logo-skola.png" %}" alt="{{ request.site.name }}" class="img-responsive" />
                    </a>
                    <!--<h1 class="navbar-brand">
                        <a href="/">
                            <span>Střední škola průmyslová <br>a umělecká Opava{{ request.site.name }}</span>
                        </a>
                    </h1>-->
                    <button type="button" class="navbar-toggle navbar-inverse collapsed" data-toggle="collapse" data-target=".js-navbar-header">
                        {% for row in 123|make_list %}<span class="icon-bar"></span>{% endfor %}
                    </button>
                </div>
            </div>
            <div class="col-sm-12 col-xs-24">
            {# INFO: ensure the anchor names are callable #}
                <h2 class="sr-only">{% trans "Shortcuts" %}</h2>
                <ul class="skip-links">
                    <li><a href="/" title="[Alt + 0]" accesskey="0">{% trans "Go to home" %}</a></li>
                    <li><a href="#navigation" title="[Alt + 1]" accesskey="1">{% trans "Jump to navigation" %}</a></li>
                    <li><a href="#content" title="[Alt + 2]" accesskey="2">{% trans "Jump to content" %}</a></li>
                    <li><a href="#footer" title="[Alt + 3]" accesskey="3">{% trans "Contact" %}</a></li>
                </ul>

                <div class="collapse navbar-collapse js-navbar-header">
                    {% block navbar %}
                    <nav class="nav navbar-main navbar-right" id="navigation">
                        <h2 class="sr-only">{% trans "Navigation" %}</h2>
                        {% render_model_block request.current_page "changelist" %}
                        {% with dropdown="true" %}
                        <ul class="nav navbar-nav">
                            {% show_menu 0 1 2 1 "includes/menu/navigation.html" %}
                            <li class="divider" role="presentation"><span class="sr-only">{% trans "Separator" %}</span></li>
                            {% show_menu_below_id "meta" 0 0 0 0 "includes/menu/navigation.html" %}
                           {#  {% language_chooser "includes/menu/langnav.html" "native" %} #}
                        </ul>
                        {% endwith %}
                        {% endrender_model_block %}
                    </nav>
                    {% endblock navbar %}
                </div>
            </div>
        </div>
</header>
{% endblock header %}

<!-- start: content -->
<hr class="sr-only" />
<div class="container feature">
    {% block feature %}
    {% endblock feature %}
</div>
<div class="container submenu-obory">
    <div class="row menu-obory text-right">
        <div class="col-sm-4 strojirenstvi"><a href="/strojirenstvi" class="obor-icon">Strojírenství</a></div>
        <div class="col-sm-4 informatika"><a href="/informacni-technologie" class="obor-icon">Informační technologie</a></div>
        <div class="col-sm-4 hracka"><a href="/hracka" class="obor-icon">Design hraček</a></div>
        <div class="col-sm-4 design"><a href="/design" class="obor-icon">Průmyslový design</a></div>
        <div class="col-sm-4 grafika"><a href="/grafika" class="obor-icon">Grafický design</a></div>
        <div class="col-sm-4 search"><p class="input-group"><input type="text" class="form-control"><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></p></div>
    </div>
</div>

    <!--
<ul>
    {% show_sub_menu 2 None 2 %}
</ul>
-->

{% block messages %}
{% if messages %}
<!-- start: messages -->
<div class="container">
    {% include "includes/messages.html" %}
</div>
<!-- end: messages -->
{% endif %}
{% endblock messages %}

{% block extend_base %}
    {% block content %}{% endblock %}
{% endblock extend_base %}
<hr class="sr-only" />
<!-- end: content -->

{% block footer %}
<!-- start: footer -->
<footer class="footer">
    <h2 class="sr-only" id="footer">{% trans "Sitemap" %}</h2>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="footer-logo">Střední škola průmyslová a umělecká Opava, příspěvková organizace</p>
                </div>
            </div>
            {% render_model_block request.current_page "changelist" %}
            <ul class="list-inline">
                <li class="pull-right"><a href="#page-top" data-spy="scroll">{% trans "Back to top" %} <span class="fa fa-right fa-arrow-up"></span></a></li>
                {% show_menu_below_id "footer" 0 0 100 100 "includes/menu/navigation.html" %}
            </ul>
            {% endrender_model_block %}
            {% static_placeholder "footer" %}
        </div>
    </div>

    <div class="footer-theme">
            {% static_placeholder "footer-theme" %}
    </div>
</footer>
<!-- end: footer -->
{% endblock footer %}

{% addtoblock "js" %}<script src="{% static 'js/addons/cl.explorer.js' %}"></script>{% endaddtoblock %}
{% endblock extend_root %}
