{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block menu %}
    <div class="menu-obory">
                <ul>
                    <li class="obor strojirenstvi"><a href="/strojirenstvi" class="obor-icon">Strojírenství</a></li>
                    <li class="obor informatika"><a href="/informacni-technologie" class="obor-icon">Informační technologie</a></li>
                    <li class="obor hracka"><a href="/hracka" class="obor-icon">Design hraček</a></li>
                    <li class="obor design"><a href="/design" class="obor-icon">Průmyslový design</a></li>
                    <li class="obor grafika"><a href="/grafika" class="obor-icon">Grafický design</a></li>
                </ul>
    </div>
{% endblock menu %}

