{% load sekizai_tags %}
{% load static %}

{% addtoblock 'js' %}
  {% if INCLUDE_JS_JQUERY %}<script src="{% static 'djangocms_owl/jquery/jquery.js' %}"></script>{% endif %}
  {% if INCLUDE_JS_OWL %}<script src="{% static 'djangocms_owl/owl.carousel.2/owl.carousel.js' %}"></script>{% endif %}
{% endaddtoblock %}

{% addtoblock 'js' %}
  <script>
    $(document).ready(function() {
      var owl = $('#plugin-{{ instance.pk }} .owl-container');
      owl.owlCarousel({{ options }});
    });
  </script>
{% endaddtoblock %}

{% addtoblock 'css' %}
  {% if INCLUDE_CSS %}
    <link rel="stylesheet" href="{% static 'djangocms_owl/owl.carousel.2/assets/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'djangocms_owl/owl.carousel.2/assets/owl.theme.default.css' %}">
  {% endif %}
{% endaddtoblock %}

{% block plugin %}{% endblock plugin %}